@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

body {
    background-image: linear-gradient(to right, #9BC0D9, #DFFBFC);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #2932419d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #EE6B4D;
    text-shadow: 1px 1px 0px #92402eb9;
}

h2 {
    color: #3D5B81;
}

p {
    text-align: justify;
}